# https://git-scm.com/docs/gitignore
# https://help.github.com/articles/ignoring-files
# Example .gitignore files: https://github.com/github/gitignore
/bower_components/
/node_modules/
/Module 6/.disko1index.html.100534.ddwnld
/Module 6/.disko1lib.js.686.ddwnld
/Module 6/.disko1main.js.100537.ddwnld
/Module 7/.disko1index.html.100534.ddwnld
/Module 7/.disko1lib.js.686.ddwnld
/Module 7/.disko1main.js.100537.ddwnld
/Module 7/.disko1main.js.97240.ddwnld
/Module 13/.disko1index.html.97695.ddwnld
/Module 14/.disko1index.html.97695.ddwnld
